<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create or Update Blood Work</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if form.errors %}
            <div>
                <p>An Error occured when validating form :(</p>
            </div>
        {% endif %}
        {% include 'healthpass/messages.html' %}
        <div>
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <p>
                    <label style="display: none;" for="blood_submit"></label>
                    <input style="display: none;" id="blood_submit" type="submit" name="blood_submit" value="blood">
                </p>
                <p>
                    <label style="display: none;" for="blood_cancel"></label>
                    <input style="display: none;" id="blood_cancel" type="submit" onclick="window.location='{% url 'health:user_home' %}'; return false;" name="blood_cancel" value="no blood">
                </p>
                <p>
                    <button id="submit_blood" type="button">Submit Blood Work</button>
                </p>
                <p>
                    <button id="cancel_blood" type="button">Cancel Blood Work</button>
                </p>
            </form>
        </div>
    </body>
    <script>
        const BloodButton = document.querySelector("#submit_blood");
        const BloodSubmit = document.querySelector("#blood_submit");
        const CancelButton = document.querySelector("#cancel_blood");
        const CancelSubmit = document.querySelector("#blood_cancel");
        BloodSubmit.addEventListener("click", () => {
            console.log("submitting blood work data...");
        });
        BloodButton.addEventListener("click", () => {
            BloodSubmit.click();
        });
        CancelSubmit.addEventListener("click", () => {
            console.log("Canceling blood work data...");
        });
        CancelButton.addEventListener("click", () => {
            CancelSubmit.click();
        });
    </script>
</html>
