<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Secure Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% include 'healthpass/messages.html' %}
        <div>
            <form method="post" action="{% url 'health:custom_login' %}">
                {% csrf_token %}
                {{ custom_login_form.as_p }}
                <p>
                    <label style="display: none;" for="custom_signin"></label>
                    <input style="display: none;" id="custom_signin" type="submit" name="custom_signin" value="signin">
                </p>
                <p>
                    <button id="signin_custom" type="button">Login</button>
                </p>
            </form>
        </div>
        <div>
            <p>No Account, Create an account here :)</p>
        </div>
        <div>
            <a href="{% url 'health:custom_signup' %}">Sign up</a>
        </div>
        {% if error_message %}
            <div>
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
    </body>
    <script>
        const CustomButton = document.querySelector("#signin_custom");
        const CustomSubmit = document.querySelector("#custom_signin");

        CustomSubmit.addEventListener("click", () => {
            console.log("submitting custom sigup data...");
        });
        CustomButton.addEventListener("click", () => {
            CustomSubmit.click();
        });
    </script>
</html>
