<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HealthPass - Medical Repository</title>
    <link rel="stylesheet" href="{% static './styles/user_home.css' %}">
</head>

<body>
    <div class="header">
        <div class="logo">
            <a href="#"><img src="#" alt="Logo"></a>
        </div>
        
        <div class="nav-links">
            <a href="#"> Our Partners </a>
            <a href="#"> Contact Us</a>
            <a href="#"> My Profile</a>
            <a href="{% url 'logout' %}?next={% url 'login' %}"> Logout</a>
        </div>
    </div>
    
    <div class="main">
        {% include 'healthpass/messages.html' %}
        <h1>Welcome to HealthPass {{ user.first_name }}, your medical repository on the go.</h1>

        <div class="categories">
            <div class="categories-select">
                <button class="category">Select a category</button>
            </div>
            <div class="categories-group None">
                <div>
                    <button class="group-btn bloodwork btnGroup">Bloodwork</button>
                </div>
                <div>
                    <button class="group-btn urinalysis btnGroup">Urine Analysis</button>
                </div>
                <div>
                    <button class="group-btn gen-info btnGroup">General Info</button>
                </div>
            </div>
            <div class="categories-crud None">
                <div class="bloodwork None">
                    <div>
                        <a href="{% url 'health:blood_work_create' %}">
                            <button>Add bloodwork</button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'health:blood_work_read' %}">
                            <button>View bloodwork</button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'health:blood_work_read_update' %}">
                            <button>Update bloodwork</button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'health:blood_work_read_delete' %}">
                            <button>Delete bloodwork</button>
                        </a>
                    </div>
                </div>
                <div class="urinalysis None">
                    <div>
                        <a href="#">
                            <button>Add urinalysis</button>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <button>View urinalysis</button>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <button>Update urinalysis</button>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <button>Delete urinalysis</button>
                        </a>
                    </div>
                </div>
                <div class="gen-info None">
                    <div>
                        <a href="{% url 'health:general_info_create' %}">
                            <button>Add general info.</button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'health:general_info_read' %}">
                            <button>View general info.</button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'health:general_info_read_update' %}">
                            <button>Update general info.</button>
                        </a>
                    </div>
                    <div>
                        <a href="{% url 'health:general_info_read_delete' %}">
                            <button>Delete general info.</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</body>
<script>
    let groupButton = document.querySelectorAll(".group-btn");
    groupButton.forEach((element) => {
        element.addEventListener("click", (event) => {
            let grpButton = document.querySelectorAll(".btnGroup");
            buttonElement = event.currentTarget
            console.log(buttonElement)
            for (let i = 0; i < grpButton.length; i++) {
                console.log(grpButton[i])
                if (buttonElement == grpButton[i]) {
                    let sameClassName = buttonElement.classList[1]
                    console.log(sameClassName)
                    let divElement = document.querySelector(`div.${sameClassName}`)
                    console.log(divElement)
                    if (divElement.classList.contains("None")) {
                        divElement.classList.remove("None")
                        divElement.classList.add("Display")
                        continue
                    }
                    divElement.classList.remove("Display")
                    divElement.classList.add("None")
                }
                let sameClassName = grpButton[i].classList[1]
                console.log(sameClassName)
                let otherDivElement = document.querySelector(`div.${sameClassName}`)
                otherDivElement.classList.remove("Display")
                otherDivElement.classList.add("None")
            }
        })
    })
    let categoryButton = document.querySelector(".category")
    console.log(categoryButton)
    categoryButton.addEventListener("click", () => {
        let categoryGroup = document.querySelector(".categories-group")
        let categoryCrud = document.querySelector(".categories-crud")
        console.log(categoryCrud)
        console.log(categoryGroup)
        if (categoryGroup.classList.contains("None") && categoryCrud.classList.contains("None")) {
            categoryGroup.classList.remove("None")
            categoryGroup.classList.add("Display")
            categoryCrud.classList.remove("None")
            categoryCrud.classList.add("Display")
            return
        }
        if (categoryGroup.classList.contains("Display") && categoryCrud.classList.contains("Display")) {
            categoryGroup.classList.remove("Display")
            categoryGroup.classList.add("None")
            categoryCrud.classList.remove("Display")
            categoryCrud.classList.add("None")
            return
        }
    })
</script>
</html>
