    
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #34e89e 0%, #0f3443 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.container {
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 100vh;
    max-width: 800px; 
}
.message {
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: start; 
}
#confirmationMessage {
    opacity: 0;
    transform: translateY(20px);
    transition: all 2s ease-out;
}
dotlottie-player {
    margin-right: 20px;
}