@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /*font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";*/
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    background: #f0f0f0;
    flex-wrap: wrap;
}

.topText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topText p {
    text-align: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputBox {
    position: relative;
    width: 250px;
}

.inputBox input {
    width: 100%;
    padding: 10px;
    border: 1.5px solid #00dfc4;
    background-color: #f0f0f0;
    border-radius: 5px;
    outline: none;
    color: #1d2b3a;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #00dfc4;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.65em;
    padding: 0 10px;
    background: #f0f0f0;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}

.inputBox:nth-child(1) input:valid ~ span,
.inputBox:nth-child(1) input:focus ~ span{
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 4px;
}
.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span{
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 4px;
}
.inputBox:nth-child(3) input:valid ~ span,
.inputBox:nth-child(3) input:focus ~ span{
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 4px;
}
.inputBox input:valid,
.inputBox input:focus {
    border: 1px solid #00dfc4;
}

.button-div button {
    background: #00dfc4;
    border: 4px solid #00dfc4;
    border-radius: 8px;
    width: 160px;
    color: #f0f0f0;
}
.errorMessage{
    background-color: rgb(213, 90, 90);
    border-radius: 7px;
    margin-bottom: 12px;
    width: 260px;
    text-align: center;
}
.homepage p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.homepage a{
    color: #007bff;
    text-decoration: none;
}
.homePagination{
    display: flex !important;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    color: #56687c;
    gap: 10px;
    flex-wrap: wrap;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

