@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.Error {
    background-color: rgb(213, 90, 90);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.Error p {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;

}

.div_form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    max-width: 400px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    color: #333;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
/* .log-div{
 
} */

a {
    color: #007bff;
    text-decoration: none;
}

