@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

*{
    font-family: 'Poppins';
}
/* body{
    background-color: aqua;
} */
.container {
    width: fit-content; 
    margin:  200px auto; 
    text-align: center; 
    padding: 20px; 
    padding-top: 20px;
    background-color: #f8f9fa; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

h1 {
    color: #333; 
}

p {
    font-size: 18px; 
    line-height: 1.6; 
}

a {
    color: #007bff; 
    text-decoration: none; 
}

a:hover {
    text-decoration: underline;
}




