<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Teacher Login</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/95cc5340fb.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static './styles/login.css' %}"/>
        <style></style>
    </head>
    <body>
        {% if form.errors %}
            <div class="Error">
                <p>Incorrect correct username or password</p>
                <p>both fields are case sensitive.</p>
            </div>
        {% endif %}
        <div class="form-div">
             <div class="header-div">
                <h1>Login to Teacher's Portal</h1>
            </div>
            <form method="post" action="{% url 'login' %}" class="form-form">
                {% csrf_token %}
                {{ form.as_p }}
                <i class="fa-solid fa-unlock password-icon"></i>
                <i class="fa-solid fa-user user-icon"></i>
                <div class="button-div">
                    <div class="dummy-div"></div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </body>
    <script src="{% static './scripts/login.js' %}"></script>
</html>
