<!DOCTYPE html>
<html lang=en">
    <head>
        <title>Password Reset Confirm</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if form.errors %}
            <div>
                <p>Passwords don't match, please write properly :)</p>
            </div>
        {% endif %}
        <div>
            {% load crispy_forms_tags %}
            <form method="post" action="">
                {% csrf_token %}
                {{ form|crispy }}
                <p>
                    <label style="display: none;" for="password_reset_submit"></label>
                    <input style="display: none;" id="password_reset_submit" type="submit" name="password_reset_submit" value="password">
                </p>
                <p>
                    <button id="submit_password_reset" type="button">Submit Password Reset</button>
                </p>
            </form>
        </div>
        <div>
            <p>
                <a href="{% url 'login' %}">
                    Back to Login
                </a>
            </p>
        </div>
    </body>
    <script>
        const UserButton = document.querySelector("#submit_password_reset");
        const UserSubmit = document.querySelector("#password_reset_submit");
        UserSubmit.addEventListener("click", () => {
            console.log("submitting password reset");
        });
        UserButton.addEventListener("click", () => {
            UserSubmit.click();
        });
    </script>
</html>
