<!DOCTYPE html>
<html lang=en">
    <head>
        <title>Password Reset Email Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h2>{{ user.first_name}} {{ user.last_name }}</h2>
            <p>You asked for password reset for email {{ email }}. Follow the link below:</p>
            <p>{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}</p>
        </div>
    </body>
</html>
