<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static './styles/password_reset_done.css' %}" type="text/css">
        <title>Password Reset Done</title>
    </head>
    <body>
        <div>
            <h1>Password Reset Request Submitted</h1>
            <p>Please check your email for further instructions on how to reset your password.</p>
        </div>
    </body>
</html>
