<!DOCTYPE html>
<html lang=en">
    <head>
        {% load static %}
        <title>Password Reset</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static './styles/password_reset_form.css' %}">
    </head>
    <body>
        {% if form.errors %}
            <div class="Error">
                <p>The email address is not properly written :(</p>
            </div>
        {% endif %}
        <div class="wrapper">
            {% load crispy_forms_tags %}
            <form method="post" action="" class="form-container">
                {% csrf_token %}
                {{ form|crispy }}
                <p>
                    <label style="display: none;" for="password_reset_submit"></label>
                    <input style="display: none;" id="password_reset_submit" type="submit" name="password_reset_submit" value="password">
                </p>
                <p class="btn-p">
                    <button id="submit_password_reset" type="button">Submit Confirmation Email Address</button>
                </p>
            </form>
        </div>
        <div class="btn-login">
            <p>
                <a href="{% url 'login' %}">
                    Back to Login
                </a>
            </p>
        </div>
    </body>
    <script>
        const UserButton = document.querySelector("#submit_password_reset");
        const UserSubmit = document.querySelector("#password_reset_submit");
        UserSubmit.addEventListener("click", () => {
            console.log("submitting email confirmation for password reset");
        });
        UserButton.addEventListener("click", () => {
            UserSubmit.click();
        });
    </script>
</html>
