<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Update Read Blood Work</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static './styles/bloodwork_updatelist.css' %}">
        <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <img src="../../static/images/doctor.png" alt="doctor image">
            </div>
            <div class="main-content">
                <h1><strong>Blood Work Data</strong></h1>
                {% if bloodwork_list %}
                    {% include 'healthpass/messages.html' %}
                {% else %}
                    {% include 'healthpass/messages.html' %}
                {% endif %}
                <div class="bloodwork-list">
                    {% for bloodwork in bloodwork_list %}
                        <div class="bloodwork-item">
                            <ul>
                                <li><strong>Hb Genotype:</strong> {{ bloodwork.hb_genotype }}<br></li>
                                <li><strong>Sickling Test:</strong> {{ bloodwork.sickling_test }}<br></li>
                                <li><strong>Blood Group:</strong> {{ bloodwork.blood_group }}<br></li>
                                <li><strong>Malaria Parasite:</strong> {{ bloodwork.malaria_parasite }}<br></li>
                                <li><strong>Hepatitis A:</strong> {{ bloodwork.hepatitis_a }}<br></li>
                                <li><strong>Hepatitis B:</strong> {{ bloodwork.hepatitis_b }}<br></li>
                                <li><strong>HIV:</strong> {{ bloodwork.hiv }}<br></li>
                                <li><strong>VDRL:</strong> {{ bloodwork.vdrl }}<br></li>
                                <li><strong>H.pylori:</strong> {{ bloodwork.hpylori }}<br></li>
                                <li><strong>Rhesus Antigen:</strong> {{ bloodwork.rhesus_antigen }}<br></li>
                            </ul>
                        </div>
                        <div class="buttons">
                            <p>
                                <a href="{% url 'health:blood_work_update' bloodwork.id %}">
                                    update bloodwork {{ bloodwork.id }}
                                </a>
                            </p>
                            <p>
                                <a href="{% url 'health:user_home' %}">Home</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
