<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Delete Read Blood Work</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if bloodwork_list %}
            {% include 'healthpass/messages.html' %}
        {% else %}
            {% include 'healthpass/messages.html' %}
        {% endif %}
        <div>
            {% for bloodwork in bloodwork_list %}
                <ul>
                    <li>
                        <strong>Hb Genotype:</strong> {{ bloodwork.hb_genotype }}<br>
                        <strong>Sickling Test:</strong> {{ bloodwork.sickling_test }}<br>
                        <strong>Blood Group:</strong> {{ bloodwork.blood_group }}<br>
                        <strong>Malaria Parasite:</strong> {{ bloodwork.malaria_parasite }}<br>
                        <strong>Hepatitis A:</strong> {{ bloodwork.hepatitis_a }}<br>
                        <strong>Hepatitis B:</strong> {{ bloodwork.hepatitis_b }}<br>
                        <strong>HIV:</strong> {{ bloodwork.hiv }}<br>
                        <strong>VDRL:</strong> {{ bloodwork.vdrl }}<br>
                        <strong>H.pylori:</strong> {{ bloodwork.hpylori }}<br>
                        <strong>Rhesus Antigen:</strong> {{ bloodwork.rhesus_antigen }}<br>
                    </li>
                </ul>
                <p>
                    <a href="{% url 'health:blood_work_delete' bloodwork.id %}">
                        delete bloodwork {{ bloodwork.id }}
                    </a>
                </p>
            {% endfor %}
        </div>
        <div>
            <p>
                <a href="{% url 'health:user_home' %}">Home</a>
            </p>
        </div>
    </body>
    <script>
    </script>
</html>
