<!DOCTYPE html>
<html lang=en">
    <head>
        <title>Custom Password Reset Email Template</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p>This is a no reply email</p>
        </div>
        <div>
            <p>Someone asked for password reset for email {{ email }}. Follow the link below:</p>
        </div>
        <div>
            {% if reset_url %}
                <p>{{ reset_url }}</p>
            {% endif %}
        </div>
    </body>
</html>
