<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <title>Custom BloodWork Read</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './styles/custom_bloodwork_list.css' %}">
    <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
</head>
<body>
    <div class="topText">
        <p>Enter details to search through the <strong>HealthPass™</strong> repository.</p>
    </div>
    <div class="inputContainer">
        <div class="inputBox">
            <input type="text" name="first_name" required>
            <span>First Name</span>
        </div>
        <div class="inputBox">
            <input type="text" name="last_name" required>
            <span>Last Name</span>
        </div>
        <div class="inputBox">
            <input type="text" name="email" required>
            <span>Email</span>
        </div>
    </div>
    <div class="button-div">
        <button type="button">SEARCH</button>
    </div>
    </div>
    <main>
        <!--my main code to list a the found  and use paginated by dango list view thank you-->
        {% if search_message %}
        <div class="errorMessage">{{ search_message }}</div>
        {% endif %}
        {% if bloodwork_list %}
        <div class="contentBox">
            {% for bloodwork in bloodwork_list %}
            <div class="orderedList">
                <p><strong>First Name:</strong> {{ bloodwork.owner.first_name }}</p>
                <p><strong>Last Name:</strong> {{ bloodwork.owner.last_name }}</p>
                <p><strong>Email:</strong> {{ bloodwork.owner.email }}</p>
                <p><strong>Hb Genotype:</strong> {{ bloodwork.hb_genotype }}</p>
                <p><strong>Sickling Test:</strong> {{ bloodwork.sickling_test }}</p>
                <p><strong>Blood Group:</strong> {{ bloodwork.blood_group }}</p>
                <p><strong>Malaria Parasite:</strong> {{ bloodwork.malaria_parasite }}</p>
                <p><strong>Hepatitis A:</strong> {{ bloodwork.hepatitis_a }}</p>
                <p><strong>Hepatitis B:</strong> {{ bloodwork.hepatitis_b }}</p>
                <p><strong>HIV:</strong> {{ bloodwork.hiv }}</p>
                <p><strong>VDRL:</strong> {{ bloodwork.vdrl }}</p>
                <p><strong>H.pylori:</strong> {{ bloodwork.hpylori }}</p>
                <p><strong>Rhesus Antigen:</strong> {{ bloodwork.rhesus_antigen }}</p>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="homePagination">
            <div class="homepage" style="display: inherit !important;">
                <p>
                    <a href="{% url 'health:custom_home' %}">Return to homepage</a>
                </p>
            </div>
            <div class="pagination" style="display: inherit !important;">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                    {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </main>
</body>
<script>
    onSearchButton = document.querySelector(".button-div");
    onSearchButton.addEventListener("click", () => {
        let inputElementList = document.querySelectorAll("input");
        let urlString = "";
        let inputCount = 0;
        while (inputCount < inputElementList.length) {
            if (inputCount == 0 && inputCount == inputElementList.length - 1) {
                urlString += '?' + `${inputElementList[inputCount].name}=${inputElementList[inputCount].value}`;
            }
            else if (inputCount == 0) {
                urlString += '?' + `${inputElementList[inputCount].name}=${inputElementList[inputCount].value}&`;
            }
            else if (inputCount > 0 && inputCount < inputElementList.length - 1) {
                urlString += `${inputElementList[inputCount].name}=${inputElementList[inputCount].value}&`;
            }
            else {
                urlString += `${inputElementList[inputCount].name}=${inputElementList[inputCount].value}`;
            }
            inputCount += 1;
        }
        window.location = urlString;
    });
</script>

</html>