<!DOCTYPE html>
<html lang=en">
    <head>
        <title>Custom Set Password</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
    </head>
    <body>
        {% if custom_set_password_form.errors %}
            <div>
                <p>Password 1 and password 2 don't match</p>
            </div>
        {% endif %}
        <div>
            {% load crispy_forms_tags %}
            <form method="post" action="">
                {% csrf_token %}
                {{ custom_password_check_form|crispy }}
                <p>
                    <label style="display: none;" for="custom_set_password_submit"></label>
                    <input style="display: none;" id="custom_set_password_submit" type="submit" name="custom_set_password_submit" value="custom_password">
                </p>
                <p>
                    <button id="submit_custom_set_password" type="button">Submit Password Reset</button>
                </p>
            </form>
        </div>
        <div>
            <p>
                <a href="{% url 'health:custom_login' %}">
                    Back to Login
                </a>
            </p>
        </div>
    </body>
    <script>
        const CustomButton = document.querySelector("#submit_custom_set_password");
        const CustomSubmit = document.querySelector("#custom_set_password_submit");
        CustomSubmit.addEventListener("click", () => {
            console.log("submitting passwords for custom set password...");
        });
        CustomButton.addEventListener("click", () => {
            CustomSubmit.click();
        });
    </script>
</html>
