<!DOCTYPE html>
<html lang=en">
    <head>
        <title>Custom Set Password Succesful</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
    </head>
    <body>
        <div>
            <h1>You have succesfully reset your password :)</h1>
        </div>
        <div>
            <p>
                <a href="{% url 'health:custom_login' %}">
                    Back to Login
                </a>
            </p>
        </div>
    </body>
</html>
