<!DOCTYPE html>
<html lang="en">
<head>
    <title>Custom Set Password</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static './styles/custom_reset_confirm_form.css' %}" type="text/css">
</head>
<body>
    <div class="form-container">
    <div class="reset-container">
        {% if custom_set_password_form.errors %}
            <div>
                <p>Password 1 and password 2 don't match</p>
            </div>
        {% endif %}
        <h2>Set New Password</h2>
        <form method="post" action="">
            {% csrf_token %}
            <div>
                <label for="new_password">New Password*</label>
                <input type="password" id="new_password" name="new_password" required>
            </div>
            <div>
                <label for="confirm_password">Confirm New Password*</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button id="submit_custom_set_password" type="submit">Submit Password Reset</button>
        </form>
    </div>
    <div>
    
        <p>
            <a href="{% url 'health:custom_login' %}" class="back-link">
                Back to Login
            </a>
        </p>
    </div>
    </div>
</body>
</html>