<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Secure Sign up</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
    </head>
    <body>
        {% if customuser_form.errors %}
            <div>
                <p>{{ error_message_1 }}</p>
            </div>
        {% endif %}
        <div>
            {% load crispy_forms_tags %}
            <form method="post" action="{% url 'health:custom_signup' %}">
                {% csrf_token %}
                {{ customuser_form|crispy }}
                <p>
                    <label style="display: none;" for="custom_signup"></label>
                    <input style="display: none;" id="custom_signup" type="submit" name="custom_signup" value="signup">
                </p>
                <p>
                    <button id="signup_custom" type="button">Sign Up</button>
                </p>
            </form>
        </div>
        <div>
            <p>Already have an account?</p>
        </div>
        <div>
            <a href="{% url 'health:custom_login' %}">Sign in</a>
        </div>
        {% if error_message %}
            <div>
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
    </body>
    <script>
        const CustomButton = document.querySelector("#signup_custom");
        const CustomSubmit = document.querySelector("#custom_signup");

        CustomSubmit.addEventListener("click", () => {
            console.log("submitting custom sigup data...");
        });
        CustomButton.addEventListener("click", () => {
            CustomSubmit.click();
        });
    </script>
</html>
