<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>User Secure Sign up</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
        <link rel="stylesheet" href="{% static './styles/django_user.css' %}" type="text/css">
    </head>
    <body>
        {% if djangouser_form.errors %}
            <div class="Error">
                <p>{{ error_message_1 }}</p>
            </div>
        {% endif %}
        {% if error_message %}
            <div class="Error">
                <p>{{ error_message }}</p>
            </div>
        {% endif %}
        <div class="form-container">
            {% load crispy_forms_tags %}
            <form method="post" action="{% url 'health:user_signup' %}">
                {% csrf_token %}
                {{ djangouser_form|crispy }}
                <p>
                    <label style="display: none;" for="user_signup"></label>
                    <input style="display: none;" id="user_signup" type="submit" name="user_signup" value="signup">
                </p>
                <p class="signup_button">
                    <button id="signup_user" type="button">Sign Up</button>
                </p>
                <div class="as_account">
                    <div>
                        <p>Already have an account?</p>
                    </div>
                    <div class="div_login">
                        <p>
                            <a href="{% url 'login' %}">Sign in</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </body>
    <script>
        const UserButton = document.querySelector("#signup_user");
        const UserSubmit = document.querySelector("#user_signup");

        UserSubmit.addEventListener("click", () => {
            console.log("submitting custom sigup data...");
        });
        UserButton.addEventListener("click", () => {
            UserSubmit.click();
        });
    </script>
</html>
