<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Read General Info</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static './styles/generalinfo_list.css' %}">
        <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
    </head>
    <body>
        <div class="container">
            <div class="sidebar"></div>
            <div class="main-content">
                <h1><strong>General Information</strong></h1>
                {% if generalinfo_list %}
                    {% include 'healthpass/messages.html' %}
                {% else %}
                    {% include 'healthpass/messages.html' %}
                {% endif %}
                <div class="generalinfo-list">
                    {% for generalinfo in generalinfo_list %}
                        <div class="generalinfo-item">
                            <ul>
                                <li><strong>Gender:</strong> {{ generalinfo.gender }}<br></li>
                                <li><strong>Country:</strong> {{ generalinfo.country }}<br></li>
                                <li><strong>Passport Number:</strong> {{ generalinfo.passport_number }}<br></li>
                                <li><strong>Date of Birth:</strong> {{ generalinfo.date_of_birth }}<br></li>
                                <li><strong>Weight:</strong> {{ generalinfo.weight }}<br></li>
                                <li><strong>Name of Emergency Contact:</strong> {{ generalinfo.name_of_emergency_contact }}<br></li>
                                <li><strong>Relationship:</strong> {{ generalinfo.relationship }}<br></li>
                                <li><strong>Email of Emergency Contact:</strong> {{ generalinfo.email_of_emergency_contact }}<br></li>
                                <li><strong>Phone Number of Emergency Contact:</strong> {{ generalinfo.phone_number_of_emergency_contact }}<br></li>
                                    {% for immunization in generalinfo.immunizations.all %}
                                        <li><strong>Immunization{{ immunization.id }}:</strong> {{ immunization.immunization }}<br></li>
                                    {% endfor %}
                                    {% for allergy in generalinfo.allergies.all %}
                                        <li><strong>Allergy{{ allergy.id }}:</strong> {{ allergy.allergy }}<br></li>
                                    {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
                <div class="back-home">
                    <p>
                        <a href="{% url 'health:user_home' %}">Home</a>
                    </p>
                </div>
            </div>
        </div>
    </body>
</html>
