<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Delete Read Urinalysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if urinalysis_list %}
            {% include 'healthpass/messages.html' %}
        {% else %}
            {% include 'healthpass/messages.html' %}
        {% endif %}
        <div>
            {% for urinalysis in urinalysis_list %}
                <ul>
                    <li>
                        <strong>Color:</strong> {{ urinalysis.color }}<br>
                        <strong>Appearance:</strong> {{ urinalysis.appearance }}<br>
                        <strong>Glucose:</strong> {{ urinalysis.glucose }}<br>
                        <strong>Bilirubin:</strong> {{ urinalysis.bilirubin }}<br>
                        <strong>Ketone:</strong> {{ urinalysis.ketone }}<br>
                        <strong>Blood:</strong> {{ urinalysis.blood }}<br>
                        <strong>Protein:</strong> {{ urinalysis.protein }}<br>
                        <strong>Nitrite:</strong> {{ urinalysis.nitrite }}<br>
                        <strong>Microscopic Indicated:</strong> {{ urinalysis.microscopic_indicated }}<br>
                        <strong>PH Scale:</strong> {{ urinalysis.ph }}<br>
                        <strong>Specific Gravity:</strong> {{ urinalysis.specific_gravity }}<br>
                        <strong>Urobilinogen:</strong> {{ urinalysis.urobilinogen }}<br>
                    </li>
                </ul>
                <p>
                    <a href="{% url 'health:urinalysis_delete' urinalysis.id %}">
                        delete urinalysis {{ urinalysis.id }}
                    </a>
                </p>
            {% endfor %}
        </div>
        <div>
            <p>
                <a href="{% url 'health:user_home' %}">Home</a>
            </p>
        </div>
    </body>
    <script>
    </script>
</html>
