<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Create or Update Urinalysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if form.errors %}
            <div>
                <p>An Error occured when validating form :(</p>
            </div>
        {% endif %}
        {% include 'healthpass/messages.html' %}
        <div>
            {% load crispy_forms_tags %}
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                <p>
                    <label style="display: none;" for="urinal_submit"></label>
                    <input style="display: none;" id="urinal_submit" type="submit" name="urinal_submit" value="urinal">
                </p>
                <p>
                    <label style="display: none;" for="urinal_cancel"></label>
                    <input style="display: none;" id="urinal_cancel" type="submit" onclick="window.location='{% url 'health:user_home' %}'; return false;" name="urinal_cancel" value="no urinal">
                </p>
                <p>
                    <button id="submit_urinal" type="button">Submit Urinalysis</button>
                </p>
                <p>
                    <button id="cancel_urinal" type="button">Cancel Urinalysis</button>
                </p>
            </form>
        </div>
    </body>
    <script>
        const UrinalButton = document.querySelector("#submit_urinal");
        const UrinalSubmit = document.querySelector("#urinal_submit");
        const CancelButton = document.querySelector("#cancel_urinal");
        const CancelSubmit = document.querySelector("#urinal_cancel");
        UrinalSubmit.addEventListener("click", () => {
            console.log("submitting urinalysis data...");
        });
        UrinalButton.addEventListener("click", () => {
            UrinalSubmit.click();
        });
        CancelSubmit.addEventListener("click", () => {
            console.log("Canceling urinalysis data...");
        });
        CancelButton.addEventListener("click", () => {
            CancelSubmit.click();
        });
    </script>
</html>
