<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Confirm Urinalysis Delete</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% if urinalysis %}
            {% include 'healthpass/messages.html' %}
        {% else %}
            {% include 'healthpass/messages.html' %}
            <div>
                <p>
                    <a href="{% url 'health:urinalysis_read_delete' %}">back</a>
                </p>
            </div>
        {% endif %}
        {% if urinalysis %}
            <div>
                <h1>Delete Urinalysis</h1>
                <p>Are you sure you want to delete this urinalysis data: {{ urinalysis.id }}?</p>
            </div>
            <div>
                <form method="post" action="">
                    {% csrf_token %}
                    <p>
                        <label style="display: none;" for="urinal_submit"></label>
                        <input style="display: none;" id="urinal_submit" type="submit" name="urinal_submit" value="urinal">
                    </p>
                    <p>
                        <label style="display: none;" for="urinal_cancel"></label>
                        <input style="display: none;" id="urinal_cancel" type="submit" onclick="window.location='{% url 'health:urinalysis_read_delete' %}'; return false;" name="urinal_cancel" value="no urinal">
                    </p>
                    <p>
                        <button id="submit_urinal" type="button">Delete Urinalysis</button>
                    </p>
                    <p>
                        <button id="cancel_urinal" type="button">Cancel Urinalysis Delete</button>
                    </p>
                </form>
            </div>
        {% endif %}
    </body>
    <script>
        const UrinalButton = document.querySelector("#submit_urinal");
        const UrinalSubmit = document.querySelector("#urinal_submit");
        const CancelButton = document.querySelector("#cancel_urinal");
        const CancelSubmit = document.querySelector("#urinal_cancel");
        UrinalSubmit.addEventListener("click", () => {
            console.log("Deleting urinalysis data...");
        });
        UrinalButton.addEventListener("click", () => {
            UrinalSubmit.click();
        });
        CancelSubmit.addEventListener("click", () => {
            console.log("Canceling urinalysis data delete...");
        });
        CancelButton.addEventListener("click", () => {
            CancelSubmit.click();
        });
    </script>
</html>
