<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <title>Update Read Urinalysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="{% static './styles/urinalysis_updatelist.css' %}">
        <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
    </head>
    <body>
        <div class="container">
            <div class="sidebar">
                <img src="../../static/images/doctor.png" alt="doctor image">
            </div>
            <div class="main-content">
                <h1><strong>Urinalysis Data</strong></h1>
                {% if urinalysis_list %}
                    {% include 'healthpass/messages.html' %}
                {% else %}
                    {% include 'healthpass/messages.html' %}
                    <div class="error-home">
                        <p class="button1">
                            <a href="{% url 'health:user_home' %}">Home</a>
                        </p>
                    </div>
                {% endif %}
                <div class="urinalysis-list">
                    {% for urinalysis in urinalysis_list %}
                        <div class="urinalysis-item">
                            <ul>
                                <li><strong>Color:</strong> {{ urinalysis.color }}</li>
                                <li><strong>Appearance:</strong> {{ urinalysis.appearance }}</li>
                                <li><strong>Glucose:</strong> {{ urinalysis.glucose }}</li>
                                <li><strong>Bilirubin:</strong> {{ urinalysis.bilirubin }}</li>
                                <li><strong>Ketone:</strong> {{ urinalysis.ketone }}</li>
                                <li><strong>Blood:</strong> {{ urinalysis.blood }}</li>
                                <li><strong>Protein:</strong> {{ urinalysis.protein }}</li>
                                <li><strong>Nitrite:</strong> {{ urinalysis.nitrite }}</li>
                                <li><strong>Microscopic Indicated:</strong> {{ urinalysis.microscopic_indicated }}</li>
                                <li><strong>PH Scale:</strong> {{ urinalysis.ph }}</li>
                                <li><strong>Specific Gravity:</strong> {{ urinalysis.specific_gravity }}</li>
                                <li><strong>Urobilinogen:</strong> {{ urinalysis.urobilinogen }}</li>
                            </ul>
                        </div>
                        <div class="buttons">
                            <p>
                                <a href="{% url 'health:user_home' %}">Home</a>
                            </p>
                            <p class="update">
                                <a href="{% url 'health:urinalysis_update' urinalysis.id %}">
                                    update urinalysis {{ urinalysis.id }}
                                </a>
                            </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script>
    </script>
</html>





