<!DOCTYPE html>
<html lang="en">

<head>
    <title>Create or Update Urinalysis</title>
    <meta charset="utf-8">
    {% load static %}
    {% load widget_tweaks %}
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static './images/loading1.png' %}">
</head>

<body class="bg-white text-gray-700 font-sans leading-normal tracking-normal">
    {% if form.errors %}
    <div class="bg-red-600 text-white px-4 py-3 rounded relative" role="alert">
        <strong class="font-bold">An Error occurred when validating the form :(</strong>
    </div>
    {% endif %}
    {% include 'healthpass/messages.html' %}
    <div class="w-full max-w-lg mx-auto p-6 bg-white rounded-lg shadow-md">
        {% load crispy_forms_tags %}
        <form method="post" action="" enctype="multipart/form-data" class="flex flex-col space-y-6">
            {% csrf_token %}
            {% for field in form %}
            <div class="flex flex-col space-y-2">
                <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">{{ field.label }}</label>
                
                {{ field|add_class:"w-full p-3 border rounded-lg text-gray-700 bg-white border-gray-300 focus:border-blue-500 focus:ring focus:ring-blue-500" }}
                
                {% if field.help_text %}
                <p class="text-xs text-gray-500">{{ field.help_text }}</p>
                {% endif %}
                {% for error in field.errors %}
                <p class="text-xs text-red-500">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <p>
                <label style="display: none;" for="urinal_submit"></label>
                <input style="display: none;" id="urinal_submit" type="submit" name="urinal_submit" value="urinal">
            </p>
            <p>
                <label style="display: none;" for="urinal_cancel"></label>
                <input style="display: none;" id="urinal_cancel" type="submit"
                    onclick="window.location='{% url 'health:user_home' %}'; return false;" name="urinal_cancel"
                    value="no urinal">
            </p>
            <div class="flex flex-col space-y-4">
                <button id="submit_urinal" type="button" class="w-full bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-teal-400 focus:ring-offset-2">Submit Urinalysis</button>
                <button id="cancel_urinal" type="button" onclick="window.location='{% url 'health:user_home' %}'; return false;" class="w-full border border-red-500 bg-white hover:bg-gray-100 text-red-600 font-bold py-2 px-4 rounded-xl focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2">Cancel Urinalysis</button>
            </div>


        </form>
    </div>
</body>
<script>
    const UrinalButton = document.querySelector("#submit_urinal");
    const UrinalSubmit = document.querySelector("#urinal_submit");
    const CancelButton = document.querySelector("#cancel_urinal");
    const CancelSubmit = document.querySelector("#urinal_cancel");
    UrinalSubmit.addEventListener("click", () => {
        console.log("submitting urinalysis data...");
    });
    UrinalButton.addEventListener("click", () => {
        UrinalSubmit.click();
    });
    CancelSubmit.addEventListener("click", () => {
        console.log("Canceling urinalysis data...");
    });
    CancelButton.addEventListener("click", () => {
        CancelSubmit.click();
    });
</script>

</html>
